@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin:0;
    padding:0;
  
}
.container{
    min-height:100vh;
    background-color:#eee;
    display:flex;
    justify-content:center;
    align-items:center;
  
Background : #0E1E2E;
       
}
.card{
    position:relative;
       height:275px;
    width:275px;
}
.card .content{
   height:175px;
    width:175px;
    background-color:black;
    border-radius:50%;
    position:relative;
    font-family: 'Poppins', sans-serif;
      z-index:10 !important;
      cursor:pointer;
}
.card p{
    color:#fff;
   position:absolute;
   top:65px;
   left:36px;
   font-size:30px;
   letter-spacing:4px;
   font-weight:900;
}
.card .social{
    color:#000;
    display:flex;
    justify-content:center;
    position:relative;
    background-color:#000 !important;
   
   transition:all 0.5s;
   position:absolute;
   top:3px;
}



.card .social span:nth-child(1){
    height:40px;
    width:40px;
    border-radius:50%;
    background-color:	#F5F8FA;
   box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
    position:absolute;
    top:60px;
    left:65px;
    font-size:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    transition:all 0.5s;
}
.card:hover .social span:nth-child(1){
    position:absolute;
    left:-70px;
    
}
.card .social span:nth-child(2){
    height:40px;
    width:40px;
    border-radius:50%;
    background-color:	#F5F8FA;
   box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
    position:absolute;
    top:60px;
    left:65px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20px;
    transition:all 0.5s;
     cursor:pointer;
      transition-delay:0.7s;
}
.card:hover .social span:nth-child(2){
    position:absolute;
    top:190px;
}
.card .social span:nth-child(3){
    height:40px;
    width:40px;
    border-radius:50%;
    background-color:	#F5F8FA;
   box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
    position:absolute;
    top:60px;
    left:65px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20px;
    transition:all 0.5s;
      cursor:pointer;
       transition-delay:0.8s;
}
.card:hover .social span:nth-child(3){
    position:absolute;
    top:160px;
    left:-40px;
}
.card .social span:nth-child(4){
    height:40px;
    width:40px;
    border-radius:50%;
    background-color:	#F5F8FA;
   box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
    position:absolute;
    top:60px;
    left:65px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20px;
    transition:all 0.5s;
      cursor:pointer;
      transition-delay:0.1s;
}
.card:hover .social span:nth-child(4){
    position:absolute;
    top:-20px;
    left:-40px;
}
.card .social span:nth-child(5){
    height:40px;
    width:40px;
    border-radius:50%;
    background-color:	#F5F8FA;
   box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
    position:absolute;
    top:60px;
    left:65px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20px;
    transition:all 0.5s;
      cursor:pointer;
       transition-delay:0.2s;
}
.card:hover .social span:nth-child(5){
    position:absolute;
    top:-60px;
    right:0px;
}
.card .social span:nth-child(6){
    height:40px;
    width:40px;
    border-radius:50%;
    background-color:	#F5F8FA;
   box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
    position:absolute;
    top:60px;
    left:65px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20px;
    transition:all 0.5s;
      cursor:pointer;
       transition-delay:0.6s;
}
.card:hover .social span:nth-child(6){
    position:absolute;
    top:165px;
    left:165px;
}
.card .social span:nth-child(7){
    height:40px;
    width:40px;
    border-radius:50%;
    background-color:	#F5F8FA;
   box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
    position:absolute;
    top:60px;
    left:65px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20px;
    transition:all 0.5s;
      cursor:pointer;
       transition-delay:0.4s;
}
.card:hover .social span:nth-child(7){
    position:absolute;
    top:-25px;
    left:165px;
}
.card .social span:nth-child(8){
    height:40px;
    width:40px;
    border-radius:50%;
    background-color:	#F5F8FA;
   box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
    position:absolute;
    top:60px;
    left:65px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20px;
    transition:all 0.5s;
      cursor:pointer;
       transition-delay:0.5s;
}
.card:hover .social span:nth-child(8){
    position:absolute;
    top:62px;
    left:200px;
}
<!------------------------------->
https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css
https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js
